---
title: Recipes
meta: Delicious recipes you can make with your Hurom Slow Juicer
---

<div id="content">
  <h1>Recipes</h1>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-fruit-juice">Fruit Juice</a></li>
      <li><a href="#tabs-vegetable-juice">Vegetable Juice</a></li>
      <li><a href="#tabs-nut-juice">Nut Juice</a></li>
      <li><a href="#tabs-ice-cream">Ice Cream</a></li>
    </ul>

    <div id="tabs-fruit-juice">
      <%= render 'fruit-juice' %>
    </div>
    <div id="tabs-vegetable-juice">
      <%= render 'vegetable-juice' %>
    </div>
    <div id="tabs-nut-juice">
      <%= render 'nut-juice' %>
    </div>
    <div id="tabs-ice-cream">
      <%= render 'ice-cream' %>
    </div>
  </div>
</div>
