<form id="retail_form" class="enquiry" method="post" action="contactussubmitted.php">
  <label for="retail_firstname">First Name&nbsp;<span class="mandatory">*</span></label>
  <input type="text" id="retail_firstname" name="retail_firstname" /><br />

  <label for="retail_lastname">Last Name&nbsp;<span class="mandatory">*</span></label>
  <input type="text" id="retail_lastname" name="retail_lastname" /><br />

  <label for="retail_email">Email&nbsp;<span class="mandatory">*</span></label>
  <input type="text" id="retail_email" name="retail_email" /><br />

  <label for="retail_phone">Phone&nbsp;<span class="mandatory">*</span></label>
  <input type="text" id="retail_phone" name="retail_phone" /><br />

  <label for="retail_company">Company</label>
  <input type="text" id="retail_company" name="retail_company" /><br />

  <label for="retail_comment">Comment</label>
  <textarea id="retail_comment" cols="40" rows="5" name="retail_comment"></textarea><br />

  <input type="submit" value="Submit" />
</form>

<p class="hotline">Hurom Australia Hotline: 1300 714 462</p>

<p class="required"><span class="mandatory">*</span> Required field</p>