<dl>
  <dt>Spout Cap</dt><dd>Yes</dd>
  <dt>Self Cleaning</dt><dd>Yes</dd>
  <dt>Strainer</dt><dd>1 Ultem strainer (fine), 1 coarse strainer</dd>
  <dt>Accessories</dt><dd>2 Jugs, 1 Cleaning Brush</dd>
  <dt>Voltage</dt><dd>220-240 volts</dd>
  <dt>Power Consumption</dt><dd>150W</dd>
  <dt>Motor Speed</dt><dd>80 rpm</dd>
  <dt>Cord Length</dt><dd>1.4 metres</dd>
  <dt>Weight</dt><dd>6.2 kg</dd>
  <dt>Dimensions</dt><dd>155mm x 230mm x 400mm</dd>
  <dt>Chute Size</dt><dd>5cm x 3.5cm</dd>
  <dt>Rated Usage</dt><dd>Up to 30 minutes continuously</dd>
  <dt>Warranty</dt><dd>10 years on motor, 2 years on parts</dd>
  <dt>Colours</dt><dd>Wine Red, Ivory</dd>
</dl>