<div class="product">
  <div class="model">
    <h4>Hurom&nbsp;Series&nbsp;Model</h4>
    <h2>HU-500</h2>
    <p>(HE-DBF04)</p>
  </div>

  <div class="pic">
    <img src="/images/500-specs.jpg" alt="HU-500" />
  </div>

  <div class="specs">
    <h3>Specifications</h3>
    <%= render 'hu-500-specs' %>
  </div>
</div>

<div class="product last">
  <div class="model">
    <h4>Hurom&nbsp;Series&nbsp;Model</h4>
    <h2>HU-300</h2>
    <p>(HU-300 MKII)</p>
  </div>

  <div class="pic">
    <img src="/images/300-specs.jpg" alt="HU-300 MKII" />
  </div>

  <div class="specs">
    <h3>Specifications</h3>
    <%= render 'hu-300-specs' %>
  </div>
</div>