<div class="section last">
  <img src="/images/sss@2x.png" alt="Slow Squeezing System" class="left" width="110px" height="110px" />
  <h2>Slow Squeezing System &ndash; SSS&trade;</h2>
  <p>The Hurom Slow Squeezing System juices without friction or impact. The technology, exclusive to Hurom, gently
    presses the fruit with low speed, minimising the loss of nutrients by heat and oxidation and maximising the natural
    taste and nutrition.</p>
</div>

<img src="/images/hurom-vs-other-juicers.jpg" alt="Hurom Slow Juicer vs other juicers" class="right" style="margin-left: 40px;"/>

<div style="overflow: auto">
  <div class="section">
    <h3>Higher nutrition</h3>
    <img src="/images/higher-nutrients.png" alt="Six times the nutrients" class="left "/>
    <p>
      Hurom juice contains four times the nutrients and nearly six times the vitamins than that produced by a
      traditional juicer.</p>
  </div>

  <div class="section">
    <h3>Higher yield of juice</h3>
    <img src="/images/higher-yield.png" alt="Twice the yield" class="left" />
    <p>The Hurom Slow Juicer will yield around twice as much as a traditional juicer. </p>
  </div>

  <div class="section last">
    <h3>Higher absorption factor</h3>
    <img src="/images/higher-absorption.png" alt="20% better absorption" class="left" />
    <p>Heat and friction can damage the enzymes in fruit and reduce how well our bodies can absorb their nutritional
      value. Because the Hurom Slow Juicer slowly presses the fruit without heat or friction, it produces juice
      with a 20% increased absorption rate and a rapid absorption time.</p>
  </div>
</div>