<div class="section recipe">
  <h2>Cabbage Juice</h2>
  <p>Cabbage is a great source of fibre, boosts cell repair and can reduce the risk of some cancers. Boiling cabbage can reduce these benefits so juicing is a great way to make the most of its nutritional value.</p>

  <img src="/images/recipes/cabbage-juice.jpg" class="left" alt="cabbage juice" />
  <div class="steps">
    <img src="/images/recipes/cabbage-juice-steps.jpg" alt="cabbage juice" />
    <ol>
      <li>Wash the cabbage and cut into two-inch chunks</li>
      <li>Run the cabbage through the juicer</li>
      <li>Run the extracted juice through the juicer a second time</li>
    </ol>
    <p class="tip">Add a pear for a sweeter juice and to aid extraction.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Broccoli Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/broccoli-juice.jpg" class="left" alt="broccoli juice" />
  <div class="steps">
    <img src="/images/recipes/broccoli-juice-steps.jpg" alt="broccoli juice" />
    <ol>
      <li>Wash the broccoli, leave stems attached and cut into florets</li>
      <li>Run the broccoli through the juicer</li>
      <li>Run the extracted juice through the juicer a second time</li>
    </ol>
    <p class="tip">Add a pear for a sweeter juice and to aid extraction.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Carrot Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/carrot-juice.jpg" class="left" alt="carrot juice" />
  <div class="steps">
    <img src="/images/recipes/carrot-juice-steps.jpg" alt="carrot juice" />
    <ol>
      <li>Wash the carrot and remove the ends. Leave the skin on and cut into finger-sized pieces</li>
      <li>Run the carrots through the juicer. If the operation stops, press the reverse button.</li>
      <li>Run the extracted juice through the juicer a second time</li>
    </ol>
    <p class="tip">Alternate carrot with apple for more moisture and better extraction.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Kale Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/kale-juice.jpg" class="left" alt="kale juice" />
  <div class="steps">
    <img src="/images/recipes/kale-juice-steps.jpg" alt="kale juice" />
    <ol>
      <li>Wash the kale, roll each leave individually and run through juicer.</li>
      <li>If the operation stops, press the reverse button.</li>
    </ol>
    <p class="tip">Adding an apple can reduce the bitterness of the kale and increase the amount of juice.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Paprika Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/paprika-juice.jpg" class="left" alt="paprika juice" />
  <div class="steps">
    <img src="/images/recipes/paprika-juice-steps.jpg" alt="paprika juice" />
    <ol>
      <li>Wash the paprika, remove the tops and seeds, and cut into inch-wide strips</li>
      <li>Run the paprika through the juicer</li>
      <li>Run the extracted juice through the juicer a second time for a clearer juice</li>
    </ol>
    <p class="tip">Add an apple for a sweeter, richer juice.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Wheatgrass Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/wheatgrass-juice.jpg" class="left" alt="wheatgrass juice" />
  <div class="steps">
    <img src="/images/recipes/wheatgrass-juice-steps.jpg" alt="wheatgrass juice" />
    <ol>
      <li>Wash the broccoli, leave stems attached and cut into florets</li>
      <li>Run the broccoli through the juicer</li>
      <li>Run the extracted juice through the juicer a second time</li>
    </ol>
    <p class="tip">Add a pear for a sweeter juice and to aid extraction.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Tomato Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/tomato-juice.jpg" class="left" alt="tomato juice" />
  <div class="steps">
    <img src="/images/recipes/tomato-juice-steps.jpg" alt="tomato juice" />
    <ol>
      <li>Insert the coarse strainer into the juicer</li>
      <li>Wash tomatoes and run slowly through the juicer</li>
    </ol>
    <p class="tip">Add a little honey to sweeten the juice.</p>
  </div>
</div>

<div class="section recipe">
  <h2>Celery Juice</h2>
  <p>Description coming soon</p>

  <img src="/images/recipes/celery-juice.jpg" class="left" alt="celery juice" />
  <div class="steps">
    <img src="/images/recipes/celery-juice-steps.jpg" alt="celery juice" />
    <ol>
      <li>Wash the celery and cut into short lengths so the fibres don't get caught in the mechanism</li>
      <li>Insert the celery slowly. If the operation stops, press the reverse button.</li>
      <li>Run the extracted juice through the juicer a second time</li>
    </ol>
    <p class="tip">Add an orange for flavour and more pleasant smell.</p>
  </div>
</div>